/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use 'uswds-core' with (
  /* Disable scary but mostly irrelevant warnings: */
  $theme-show-compile-warnings: true,
  $theme-show-notifications: false,

  // Specify USWDS font and image paths.
  // Same paths are successfully used for both Next.js and Storybook.
  $theme-font-path: '/uswds/fonts',
  $theme-image-path: '/uswds/img',
);
