/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
    sass root. Don't edit the version
    in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use 'uswds-core' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: sticky;
  top: 0;
}

.footer {
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid #eaeaea;
  bottom: 0;
  justify-content: center;
  padding: 2rem;
  position: sticky;
  display: flex;
  width: 100%;
}

.main {
  align-items: center;
  background: linear-gradient(white, rgb(237, 234, 244));
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}