.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.header {
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid #eaeaea;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: sticky;
  width: 100%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 4rem;
  line-height: 1.15;
  margin: 0;
}
