name: CI {{ app_name }} PR Environment Checks
on:
  workflow_dispatch:
    inputs:
      pr_number:
        required: true
        type: string
      commit_hash:
        required: true
        type: string
  {% if app_has_dev_env_setup %}
  pull_request:
  {% else %}
  # !! Once you've set up the dev environment and are ready to enable PR
  # environments, run:
  #
  # nava-platform infra update --data app_has_dev_env_setup=true .
  #
  # to enable these lines. They are here as comments for context.
  #
  # pull_request:
  {% endif %}

jobs:
  update:
    name: " " # GitHub UI is noisy when calling reusable workflows, so use whitespace for name to reduce noise
    uses: ./.github/workflows/pr-environment-checks.yml
    if: github.event_name == 'workflow_dispatch' || github.event.pull_request.state == 'open'
    with:
      app_name: "{{ app_name }}"
      environment: "dev"
      pr_number: ${{'{{'}} inputs.pr_number || github.event.number {{'}}'}}
      commit_hash: ${{'{{'}} inputs.commit_hash || github.event.pull_request.head.sha {{'}}'}}
