locals {
  # Machine readable project name (lower case letters, dashes, and underscores)
  # This will be used in names of AWS resources
  project_name = "{{ base_project_name }}"

  # Project owner (e.g. navapbc). Used for tagging infra resources.
  owner = "{{ base_owner }}"

  # URL of project source code repository
  code_repository_url = "{{ base_code_repository_url }}"

  # Default AWS region for project (e.g. us-east-1, us-east-2, us-west-1).
  # This is dependent on where your project is located (if regional)
  # otherwise us-east-1 is a good default
  default_region = "{{ base_default_region }}"

  # List of AWS regions that may be used for this project.
  # Used for multi-region deployments or to scope down other resources that need to interact with multiple regions.
  # TODO(https://github.com/navapbc/template-infra/issues/1004): When upgrading to AWS provider >= 5.7.0, update to include all regions that GuardDuty should be enabled in for multi-region support
  #regions = [local.default_region]

  github_actions_role_name = "${local.project_name}-github-actions"

  # Whether to enable the Threat Detection detector for the account
  # Finding publishing frequency must be one of: FIFTEEN_MINUTES, ONE_HOUR, SIX_HOURS.
  enable_threat_detection                       = false
  threat_detection_finding_publishing_frequency = "FIFTEEN_MINUTES"
}
